<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mes.jyd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.Change_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
                     tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- ftp服务器-->

    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->



    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/MyTheme">

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.mes.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.DownloadService" />
        <service android:name=".service.DistributionOrderService" />
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        <activity android:name=".view.NavigationActivity" android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.LoginActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.ScannerActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.SetttingsActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.product.ProductActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.product.ProductPaperActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.WorkThreadActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.product.ProductCheckActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.check.ProductInspectActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.check.ProductInspectCheckActivity" android:theme="@style/MyTheme"/>

        <activity android:name=".view.io.InStockActivity" android:theme="@style/MyTheme" />
        <activity android:name=".view.io.InStockDetailActivity" android:theme="@style/MyTheme" />


        <activity android:name=".view.check.CheckInStockActivity" android:theme="@style/MyTheme" />
        <activity android:name=".view.check.CheckInStockItemActivity" android:theme="@style/MyTheme" />
        <activity android:name=".view.check.CheckInStockDetailActivity" android:theme="@style/MyTheme" />

        <activity android:name=".view.check.RejectManageActivity" android:theme="@style/MyTheme" />
        <activity android:name=".view.check.RejectManageDetailActivity" android:theme="@style/MyTheme" />

        <activity android:name=".view.check.CheckPreviousActivity" android:theme="@style/MyTheme" />
        <activity android:name=".view.check.CheckPreviousDetailActivity" android:theme="@style/MyTheme" />


    </application>

</manifest>